* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}
.site-header {
    display: flex;
    background-color: #175B26;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #9CD07C;
    font-size: 24px;
    font-weight: 600;
    padding: 0px 32px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #175B26;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #9CD07C;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: #9CD07C;
    text-decoration: none;
    padding: 0 30px;
    transition: all .2s ease;
}

.nav-link a:link {
    color: #9CD07C
}

a:visited {
    color:cadetblue;
}

a:hover {
    color:cornsilk;

}